<h1>Welcome to Cook.ly</h1>

<h2>Users</h2>
<div>
  <%= link_to "Signup As User", new_user_path %> <br>
  <%= link_to "Login As User", users_login_path %>
</div>

<h2>Cooks</h2>
<div>
  <%= link_to "Signup As Cook", new_cook_path %> <br>
  <%= link_to "Login As Cook", cooks_login_path %>
</div>


